.todo-header {
  padding: 20px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;

  font-size: 2.5rem;

  background-color: rgb(196, 196, 196);
  color: rgb(255, 255, 255);
}

.todo-body {
  /* margin: 0 auto; */
  /* width: 50%; */
}
.todo-body-shape {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 50%;
  /* height: 50%; */
  background-color: rgb(68, 68, 68);
}
.todo-body-shape .todo-body-input {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-body-lists {
  background-color: red;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  /* justify-content: cente r; */
  width: 90%;
}

.todolist-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  /* background-color: red; */
}
/* .todolist-content {
  display: flex;
  justify-content: space-between;

  width: 100%;
} */
