.todo-header {
  display: flex;
  justify-content: center;

  padding: 20px;
  margin-bottom: 0px;

  font-size: 2.5rem;

  background-color: rgb(196, 196, 196);
  color: rgb(255, 255, 255);
}

.todo-body-shape {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;

  margin: 0 auto;

  color: white;
  background-color: rgb(68, 68, 68);
}
.todo-body-shape .todo-body-input {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 50px;
}

.todo-body-lists {
  display: flex;
  flex-direction: column;

  /* width: 90%; */
}

.todolist-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todolist-buttons {
  margin-left: 20px;
}
.todolist-buttons button {
  color: red;
}
